@import '../../styles/variables';
@import '../../styles/mixins';

.hero {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  top: 0;
  left: 0;
}

.container {
  @include container;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  @include transition(color, opacity);
  font-size: 4rem;
  opacity: 1;

  @include screen-md {
    font-size: 6rem;
  }

  @include screen-lg {
    font-size: 10rem;
  }
}

.text {
  @include transition(color, opacity);
  font-size: 1.75rem;
  margin-top: $space-md;
  opacity: 1;

  @include screen-md {
    margin-top: 0;
    font-size: 2.3rem;
  }

  @include screen-lg {
    font-size: 2.6rem;
  }
}

.text1 {
  @include screen-md {
    position: absolute;
    right: 5%;
    top: 16%;
  }
}

.text2 {
  @include screen-md {
    position: absolute;
    top: 62%;
    left: 60%;
  }
}

.text3 {
  @include screen-md {
    position: absolute;
    left: 23%;
    bottom: 12%;
  }
}

.pronouns {
  color: $c-main;
}

.scrolled {
  .title,
  .text {
    opacity: .25;
    color: $c-main;
  }
}
