@import '../../styles/variables';
@import '../../styles/mixins';

.item {
  position: relative;

  @include screen-md(true) {
    &:nth-child(even) {
        margin-top: 3rem;
        margin-left: -4rem;

        .title {
          top: 56%;
          right: 4%;
        }

    }

    &:nth-child(odd):not(:first-child) {

        margin-top: -3rem;

    }

    &:nth-child(3n) {
        margin-left: 3.5rem;

        .title {
          right: auto;
          left: -4%;
        }

    }
  }

  &:hover,
  &:active,
  &:focus {
    .title {
      opacity: 1;
      color: $c-dark;
    }

    .imageWrapper {
      &:before {
        opacity: .5;
      }
    }

    .image {
      filter: grayscale(.8);
      opacity: .25;
    }
  }
}

.title {
  @include smallHeading;
  position: absolute;
  top: 20%;
  right: $space;
  max-width: 40%;
}

.link {
  display: block;
}

.imageWrapper {
  width: 85%;
  position: relative;

  &:before {
    @include transition(opacity);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    background-color: $c-main;
  }
}

.image {
  @include transition(filter, opacity);
  display: block;


  filter: grayscale(0);
  opacity: 1;

}
