@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: transparent;

  .link {
    padding: $space;
    text-decoration: none;
  }
}

.container {
  padding: $space;
  display: flex;
  justify-content: flex-end;
}
