@import '../../styles/variables';
@import '../../styles/mixins';

.postPage {
 @include container;
 padding-top: 4rem;
 padding-bottom: 5rem;
 position: relative;
}

.title {
  @include smallHeading;
  margin-bottom: 2rem;
  color: $c-main;
  margin-top: 0;
  z-index: 1;

  @include screen-md {
    @include bigHeading;
    margin-bottom: 0;
    max-width: 40%;
    position: absolute;
    top: 12%;
    right: 12%;
  }

  @include screen-lg {
    right: 18%;
  }
}

.coverImage {
  @include screen-md {
    width: 85%;
  }

  @include screen-lg {
    width: 60%;
  }
}

.text {
  @include generalText;
  margin-top: 2rem;

  @include screen-md {
    margin-top: 4rem;
  }
}
