@import '../../styles/variables';
@import '../../styles/mixins';

.portfolio {
  position: relative;
  padding: $space-xxl 0;
  overflow: hidden;
}

.grid {
  display: grid;
  row-gap: $space-lg;
  grid-row-gap: $space-lg;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @include screen-md {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: $space-xxl;
    grid-row-gap: $space-xxl;
  }

  @include screen-lg {
    padding-left: $space-xl;
    padding-right: $space-xl;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-column-gap: $space-xl;
    grid-row-gap: $space-xl;
  }
}
