@import '../../styles/variables';
@import '../../styles/mixins';

.portfolio {
  margin-top: 90vh;
  position: relative;
}

.grid {
  display: grid;
  row-gap: $space-lg;
  grid-row-gap: $space-lg;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @include screen-md {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-column-gap: $space-xxl;
    grid-row-gap: $space-xxl;
  }
}
