@import '~normalize.css';
@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;500;800;900&display=swap');

* {
  box-sizing: border-box;
  line-height: 1;
  font-family: $font-main;
  color: inherit;
  background-color: transparent;
}

html, body {
  line-height: 1;
  background-color: $c-dark;
  color: $c-main;
}

h1, h2, h3, h4, h5, h6 {
  @include spaceless;
}

a[href] {
  color: $c-main;
  text-decoration: underline;
}

body::-webkit-scrollbar {
  width: .5rem;
}
body {
  scrollbar-width: thin;
  scrollbar-color: $c-main transparent;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: $c-main ;
  border-radius: 6px;
  border: 2px solid transparent;
}
