@import '~normalize.css';
@import 'variables';
@import 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  line-height: 1;
  font-family: $font-main;
  color: $c-dark;
  background-color: transparent;
}

html, body {
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  @include spaceless;
}
