@import 'variables';

@mixin spaceless {
  margin: 0;
  padding: 0;
}

@mixin container {
  width: 100%;
  margin: 0 auto;
  padding-left: $space;
  padding-right: $space;

  @include screen-md {
    padding-left: $space-lg;
    padding-right: $space-lg;
  }

  @include screen-lg {
    padding-left: $space-xxl;
    padding-right: $space-xxl;
  }
}

@mixin screen-md($only: false) {

  @if $only {
    @media (min-width: $screen-md) and (max-width: $screen-md-end) {
      @content;
    }
  }
  @else {
    @media (min-width: $screen-md) {
      @content;
    }
  }

}

@mixin screen-lg {
  @media (min-width: $screen-lg) {
    @content;
  }
}

@mixin transition($transition-property...) {
  transition-timing-function: $global-transition-timing-function;
    transition-duration: $global-transition-duration;
    transition-property: $transition-property;
}

@mixin outline-text($color: $c-dark, $strokeColor: $c-main) {
  color: $strokeColor;
  -webkit-text-fill-color: $color; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $strokeColor;
}

@mixin bigHeading {
  @include outline-text;
  @include transition(color, opacity);
  font-size: 4rem;
  opacity: 1;
  font-weight: 500;

  @include screen-md {
    font-size: 6rem;
  }

  @include screen-lg {
    font-size: 10rem;
  }
}

@mixin smallHeading {
  @include outline-text;
  @include transition(color, opacity);
  font-size: 1.75rem;
  margin-top: $space-md;
  opacity: 1;
  font-weight: 800;
  letter-spacing: .1rem;

  @include screen-md {
    margin-top: 0;
    font-size: 2.3rem;
  }

  @include screen-lg {
    font-size: 2.6rem;
  }
}

@mixin generalText {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}
