$space: 1rem;
$space-sm: .75rem;
$space-xs: .5rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 3rem;
$space-xxl: 4rem;

$screen-md: 80rem;
$screen-lg: 100rem;

$font-main: 'Muli', sans-serif;

$c-dark: #0C0C14;
$c-main: #FDCFF3;

$global-transition-timing-function: ease-out;
$global-transition-duration: 275ms;
